@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: 'Poppins';
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #003262;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 10fr 10fr 2fr;
      grid-template-rows: 1fr 10fr 10fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(100px, auto);
}

.background {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
  -ms-grid-column: 1;
  grid-column: 1;
  opacity: 50%;
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[13];
      grid-template-columns: repeat(13, 1fr);
  -ms-grid-rows: (1fr)[13];
      grid-template-rows: repeat(13, 1fr);
  border: 1px solid black;
  z-index: 1;
  color: #0054a4;
}

.nav, .upper-home, .upper-salah, .lower-home, .lower-salah, .name, .pose, .footer, .RakatOption, .RakatOptionSelected {
  z-index: 2;
}

.nav {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  max-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 63, 124, 0.5);
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  color: #FDB515;
  border-radius: 0 0 0.3em 0.3em;
}

.upper-home {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 6em;
  color: #FDB515;
}

.upper-salah {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.pose {
  -ms-grid-column: 1;
  grid-column: 1;
  padding-top: 3em;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 35em;
  width: 35em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pose img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.name h1 {
  font-size: 6em;
  font-weight: 400;
  color: #FDB515;
}

.lower-salah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.lower-salah audio {
  width: 50%;
}

.RakatSelector {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4em;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.RakatOption, .RakatOptionSelected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RakatOption {
  border: none;
  border-radius: 0.5em;
  background-color: #003a71;
  width: 2em;
  height: 2em;
  font-size: 8em;
  font-weight: 600;
  color: #FDB515;
  -webkit-box-shadow: 0 0.1em 0.1em 0.1em #00284e;
          box-shadow: 0 0.1em 0.1em 0.1em #00284e;
}

.RakatOptionSelected {
  border: 0.1em solid #FDB515;
  border-radius: 0.5em;
  background-color: #003262;
  width: 2em;
  height: 2em;
  font-size: 8em;
  font-weight: 600;
  color: #FDB515;
}

.RakatOption:hover {
  background-color: #003f7c;
}

.RakatOptionSelected:hover {
  background-color: #002d58;
}

.RakatOption:active, .RakatOptionSelected:active {
  border: 0.1em solid #FDB515;
  border-radius: 0.5em;
  background-color: #003262;
  width: 2em;
  height: 2em;
  font-size: 8em;
  font-weight: 600;
  color: #FDB515;
  -webkit-box-shadow: 0 0.1em 0.1em 0.1em inset #002549;
          box-shadow: 0 0.1em 0.1em 0.1em inset #002549;
}

.lower-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: 2.25em;
  font-weight: 200;
  color: #FDB515;
}

.footer a {
  text-decoration: none;
  color: #C4820E;
}

@media only screen and (max-width: 540px) {
  body {
    font-size: 6px;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 5px;
  }
}

@media only screen and (max-width: 280px) {
  body {
    font-size: 4px;
  }
}
/*# sourceMappingURL=App.css.map */